
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Root Insure</h1>
      <p class="lead">Medcal , Dental and Car ... all in one place</p>
      <p>
        <a routerLink="/medical" class="btn btn-info my-2">Medical</a>
        <a routerLink="/dental" class="btn btn-warning my-2">Dental</a>
        <a routerLink="/car" class="btn btn-success my-2">Car</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light pb-4">
    <div class="container">

      <div class="card-deck">
        <app-card class='card' [card]="card" *ngFor="let card of cards"></app-card>
      </div>

    </div>
  </div>

</main>
