<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Pleae contact for more information, site is under construction...</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a routerLink="dental" class="text-white">Dental</a></li>
            <li><a routerLink="medical" class="text-white">Medical</a></li>
            <li><a routerLink="car" class="text-white">Car</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <img src="./../../assets/images/logo.svg" alt="" width="50px">
        <strong style="margin-left: 10px">ROOT INSURE</strong>
      </a>
      <div class='float-right'>
        <a href="#" class="nav-item text-white mr-2">Coverage</a>
        <a [routerLink]="'claims'" class="text-white mr-2">Claims</a>
        <a href="#" class="text-white mr-2">FAQ's</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

    </div>
  </div>
</header>
